.project {
  text-decoration: none;

  min-width: 280px;
  min-height: 224px;
  background-color: grey;

  border-radius: 8px;
  // to achieve curved outline on shape and border
  box-shadow: 0 0 0 12px #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    margin-top: 12px;
    margin-left: -12px;
    background-color: $red;
    color: #fff;
    padding: 5px;
    padding-left: 17px; // 12 border + 5 for tag
    width: 80%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__tag-container {
    display: flex;
  }

  &__tag {
    background-color: $black;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    margin-left: 5px;
    margin-bottom: 12px;
  }
}

.miniMaths {
  @include bg-image('img/miniMaths-5x4-500w.jpg');
}
.wcicwt {
  @include bg-image('img/wcicwt-5x4-500w.jpg');
}
.directory {
  @include bg-image('img/thEmployeeDirectory-5x4-500w.jpg');
}
.covid {
  @include bg-image('img/ukCorona-5x4-500w.jpg');
}
.animal {
  @include bg-image('img/svgSite-5x4-500w.jpg');
}
.web-app {
  @include bg-image('img/webApp-5x4-500w.jpg');
}
.tictactoe {
  @include bg-image('img/noughtsandCrosses-5x4-500w.jpg');
}
.js-challenges {
  @include bg-image('img/codepenChallenges-5x4-500w.jpg');
}
.react {
  @include bg-image('img/cvReact-5x4-500w.jpg');
}
.api-gallery {
  @include bg-image('img/reactGallery-5x4-500w.jpg');
}
