.main__index {
  display: grid;
  grid-row-gap: 100px;

  @media screen and (min-width: $mobile) {
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
